body{
    font-family: 'Montserrat', sans-serif;
    text-align: center; 
}
.topnav{
    background-color: #020202;
    font-size: 30px;
    border-radius: 1rem;
    color:white;
    padding:0.25rem;
}
.topnav div{
    text-align: left;
}
.list{
    list-style: none;
    text-align: right;
}
.list li{ 
    display: inline;
    padding: 1rem;    
}
.list li a{
text-decoration: none;
color: white;
}



h1{
    color:#020202;
}
label{
    font-size: 25px;
    font-weight: bold;
    margin: auto;
    padding: 1rem;
}
#input1{
    display: block;
    margin: auto;
    outline: #141414;
    border: 3px solid #0e0e0e;
    border-radius: 1rem;
    font-size: large;
    margin: 1rem auto 1rem auto;
    padding: 0.5rem;
}
#input2{
    display: block;
    margin: auto;
    outline: #141414;
    border: 3px solid #131212;
    border-radius: 1rem;
    font-size: large;
    margin: 1rem auto 1rem auto;
    padding: 0.5rem;
}
#button{
    padding: 0.5rem;
    font-size: 25px;
    border: #080808;
    background-color: #0e0d0d;
    color: white;
    border-radius: 1rem;
}
#output{
    padding: 2rem;
    font-size: 30px;
    font-weight: 600;
    color: #080808;
}